@tailwind base;
@tailwind components;
@tailwind utilities;

.link-btn {
  @apply w-20 h-20 block;
}
.link-btn svg {
  @apply w-full h-full rounded bg-white;

  clip-path: circle(50% at 50% 50%);
  transition: clip-path 0.5s;
}

.link-btn:hover {
  svg {
    clip-path: circle(100% at 50% 50%);
    transition: clip-path 0.5s;
  }
}

.forum-list a:not(:first-of-type):not(:last-of-type) {
  @apply border-b border-l border-r border-gray-500;
}

.forum-list a:first-of-type {
  @apply border border-gray-500 rounded-lg rounded-b-none;
}

.forum-list a:last-of-type {
  @apply border-b border-l border-r border-gray-500 rounded-lg rounded-t-none;
}
/* 
.after-name::after {
  content: "";
  height: 10rem;
  display: block;
  width: 1px;
  border: 1px solid white;
} */
